{
    log {
        output file /var/log/caddy/caddy.log
        format json
    }
}


(common) {
    tls {
        dns ovh
    }

    encode zstd gzip

    header {
        # HSTS
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

        # Security headers
        X-Content-Type-Options "nosniff"
        X-Frame-Options "SAMEORIGIN"
        Referrer-Policy "strict-origin-when-cross-origin"

        -Server
    }

    log {
        output file /var/log/caddy/access.log
        format json
    }
}



jellyseer.caddy.nullbyte.cloud {
    import common

    reverse_proxy 192.168.100.52:5055
}


adguard.caddy.nullbyte.cloud {
    tls {
        dns ovh
    }
    reverse_proxy 192.168.100.40:443
}

bazarr.caddy.nullbyte.cloud {
   reverse_proxy 192.168.100.52:6767
   import common
}

prowlarr.caddy.nullbyte.cloud {
    reverse_proxy 192.168.100.40:9696
    tls {
        dns ovh
    }
}

qbittorrent.caddy.nullbyte.cloud {
    reverse_proxy 192.168.100.40:8080
    tls {
        dns ovh
    }
}

radarr.caddy.nullbyte.cloud {
    reverse_proxy 192.168.100.40:7878
    tls {
        dns ovh
    }
}

sonarr.caddy.nullbyte.cloud {
    reverse_proxy 192.168.100.40:8989
    tls {
        dns ovh
    }
}

flaresolverr.caddy.nullbyte.cloud {
    reverse_proxy 192.168.100.40:8191
    tls {
        dns ovh
    }
}

home-assistant.caddy.nullbyte.cloud {
    reverse_proxy 192.168.100.52:8123
}

jellyfin.caddy.nullbyte.cloud {
    reverse_proxy 192.168.100.52:8096
}

pelican.caddy.nullbyte.cloud {
    tls {
        dns ovh
    }
    reverse_proxy 192.168.100.136:80
}